<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="demo_training_StockProKSV.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLIRDA11;Data Source=WIN-2J5GGL22MAA\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=StockProDB-demo"
            providerName="System.Data.OleDb" />
        <add name="demo_training_StockProKSV.Properties.Settings.StockProDB_demoConnectionString"
            connectionString="Data Source=WIN-2J5GGL22MAA\SQLEXPRESS;Initial Catalog=StockProDB-demo;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>